    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">What do Ooo do?</h1>
                        <p class="intro-text">The Ooolation Online Video Contest</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contest Rules</h2>
                <p>
                  <ol>
                  <li>Film yourself or a group doing something that we do at Ooolation. <br>This could be singing, reading poetry, hiking in a beautiful place, leading some fun warm ups, etc.</li>
                  <li>Use a high quality camera so we can see them beautiful freckles!!</li>
                  <li>Submit the link below!</li>
                  <li>Receive a “<strong>S</strong>o <strong>U</strong>nbelievebly <strong>R</strong>edonkulous prize” if you win… <br> (multiple winners!)</li>
                  <li>Submissions due 3/1/15 so we can show them to people ASAP.</li>
                  <li>Smile</li>
                  <li>Have fun</li></p>
                  <p>Inspired by <a href="http://tinydeskcontest.tumblr.com/">NPR's Tiny Desk Concert Contest</a></p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-right">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Submission Form</h2>
                <form action="/submit_video" method="post" id="submit_form">
                      <label for="video_title">Video Title:</label>
                      <input type="text" name="video_title" id="video_title" required>
                      <br>
                      <label for="link">Link:</label>
                      <input type="text" name="link" id="zip" required>
                      <br>
                      <label for="email">Email address:</label>
                      <input type="text" name="email" id="email" required>
                      <br>
                      <label for="name">Name(s):</label>
                      <input type="text" name="name" id="name" required>
                      <br>
                      <label for="street_address">Address Line 1:</label>
                      <input type="text" name="street_address" id="stree_address" required>
                      <br>
                      <label for="city">City:</label>
                      <input type="text" name="city" id="city" required>
                      <br>
                      <label for="state">State:</label>
                      <input type="text" name="state" id="state" required>
                      <br>
                      <label for="zip">Zip:</label>
                      <input type="text" name="zip" id="zip" required>
                      <br>
                      <br>
                      <button type="submit" class="btn btn-default">Submit</button>
                  <form>
            </div>
        </div>
    </section>
