<header class="thanks">
  <div class="thankyou">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Thank You!</h1>
          <p class="intro-text">Remember to spread the word about Ooolation. <br> We rely on word/song of mouth to find new voices!</p>
        </div>
      </div>
  </div>
</header>
